main > .container {
  padding: 60px 15px 0;
}

span {
color: #847D7B;
}

h1 {
    font-size: 70px;
}

.spanRight {
    margin-left: 320px;
}

.sedesButton {
    margin-left: 165px;
    margin-top: 20px;
}